
<div class="container">
  <mat-card>
    <mat-card-title> Create an Event </mat-card-title>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <input name="title" ngModel type="text" placeholder="Event Title"/>
        <input name="price" ngModel type="text" class="form-control" placeholder="Event Price"/>
        <input name="venue" ngModel type="text" placeholder="Event Venue"/>
        <input name="date" ngModel type="datetime" placeholder="Event Date and Time"/>
        <textarea name="body" ngModel type="text" class="form-control" placeholder="Event body"></textarea>
        <br/>

      <button mat-raised-button color="accent" type="submit" class="btn btn-primary">Add</button>
    </form>
  </mat-card>
</div>
